body{
margin:0;
display:flex;
background:#081224;
color:#fff;
font-family:Arial;
}

.sidebar{
width:240px;
background:#111827;
padding:20px;
}

.content{
flex:1;
padding:20px;
}

.tab{
display:none;
}

.active{
display:block;
}

.card{
background:#162238;
padding:15px;
border-radius:12px;
}

input{
padding:10px;
width:100%;
}
